<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="<%= _csrf %>">
    <title>LogIn Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen font-sans">
    <%- include('header') %>
    <div class="mx-auto mt-4 italic text-2xl font-semibold"><%= title %></div>
    <!-- Login Form Container -->
    <div class="flex-grow flex items-center justify-center py-10">
        <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-lg">
            <!-- Title Section -->
            <h3 class="text-xl font-semibold text-center text-gray-700 mb-6">
                Login Here
            </h3>

            <!-- Login Form -->
            <form action="/session" method="post" class="space-y-6">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">

                <!-- Email Input -->
                <div>
                    <label for="email" class="block text-lg font-medium text-gray-700">Email:</label>
                    <input type="email" name="email" placeholder="Enter Your Email Here" id="email"
                        class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                        required>
                </div>

                <!-- Password Input -->
                <div>
                    <label for="password" class="block text-lg font-medium text-gray-700">Password:</label>
                    <input type="password" name="password" placeholder="Enter Password Here" id="password"
                        class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                        required>
                </div>

                <!-- Submit Button -->
                <div>
                    <button type="submit"
                        class="w-full py-3 bg-green-600 text-white font-semibold rounded-md hover:bg-green-700 transition duration-200">
                        Log In
                    </button>
                </div>
            </form>

            <!-- Forgot Password Link -->
            <div class="text-center mt-4">
                <p class="text-gray-600">
                    Forgot your password? 
                    <a href="/forgotpassword" class="text-blue-600 hover:text-blue-800 font-semibold">Click here</a>
                </p>
            </div>
        </div>
    </div>
    <div class="rounded-md bg-blue-100 p-2 mx-auto"><%-include('notification') %></div>
    <%- include('footer') %>
</body>

</html>
